.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-main{
 align-items: center;
 display: contents;
 text-align: -webkit-center
}
.section1{
  background-image: url('../image/layeredPeak.svg');
  height: max-content;
  display: flex;
}
.section2{
  background-image: url('../image/layeredPeak1.svg');
  padding: 30vh 50px 30vh;
}
.newsletter{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-color: rgba(240, 255, 255, 0.632);
  border-radius: 10px;
  
}
.input{
  
  flex-direction: row;
}
.footer{
  background-image: url(../image/footer.svg);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  width:100vw;
}
.testimonial{
  background-color: #cacaca;
  height: 90vh;
  width:100vw;
  background-size: cover;
  background-clip: padding-box;
  /* background-position: 50px; */
}